{% extends 'common/layout.html' %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <div class="jumbotron-content-rtk">
                <h1 class="display-3"><img style="max-width: 30%;" src="{{ url_for('static', filename='img/logos/republic.png') }}"></h1>
                <p>
                    The Internet of Things (IoT) is the extension of computing beyond its current boundaries and out into the physical environment. Through the gathering of input via sensors, analytics can interpret the data for responses via sophisticated automation. Early uses range across improving agricultural yields, home automation, community wellbeing, integrated transport and joining up processes across multi-site corporations.
                </p>
                <p>
                    Republic is delivering advanced, low cost connectivity. This is coupled with the generous sharing of deep expertise and we offer a compelling IoT roadmap in multiple sectors.
                </p>
                <a class="btn btn-outline-primary" href="http://www.republicofthings.com">Find out more</a>
            </div>
    </div>

{% endblock %}